body {
    text-align: center;
}

h1 {
    color: white;
    font-size: 48px;
}

.Algorithms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Algorithms p {
    font-size: 1.2em;
    margin-bottom: 40px;
    line-height: 1.6;
}

.Algo_button {
    min-width: 250px;
    min-height: 200px; /* Added minimum height for better layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    position: relative; /* Added for positioning the links */
    overflow: hidden; /* Ensure child elements do not overflow */
}

.Algo_button img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.Algo_button span {
    font-size: 18px;
    color: #007bff;
}

.Algo_button:hover {
    transform: scale(1.05);
    background-color: #383838;
}

/* New styles for displaying the links on hover */
.Algo_button .Algo_list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #383838;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 10px; /* Ensures border radius is consistent */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Algo_button:hover .Algo_list {
    display: flex;
    flex-direction: column;
}

/* Ensures proper styling of list items */
.Algo_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.Algo_list h2 {
    padding: 0;
    margin: 0;
}

.Algo_list li {
    margin: 10px 0;
}

.Algo_list a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.Algo_list a:hover {
    text-decoration: underline;
}
