.base {
    display: flex;
    justify-content: space-between;
}

.createTree {
    display: flex;
    flex-direction: column;
}

.UpdateTree {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.svgdiv {
    height: 700px;
    width: 700px;
    background-color: #242424;
    border: 2px solid var(--border-color);
}

.Logs {
    width: 300px;
    border: solid 2px var(--border-color);
}

.button {
    background-color: #007bff;
    width: fit-content;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: 200px;
    background-color: var(--background-color);
    color: var(--text-color);
}
